.live-layout-minimap {
  padding-left: 0;
  padding-right: 0;
  outline: 2px solid grey;

  > .row {
    margin: 0 !important;

    > .col {
      outline: 1px solid grey;
      min-height: 40px;
      padding-right: 0;
      padding-left: 0;

      .grid-component-wrapper {
        background: purple;
        min-height: 30px;
      }
    }
  }
}
