.pel-rendered-layout-wrapper {
  position: relative;
}

.live-layout-start-quicklinks {
  position: absolute;
  top: 0;
  z-index: 2;

  button {
    border-radius: 0;
    border: none;
    outline: none;
    padding: 10px 20px;

    &[data-action="start-live-layout"] {
      background: #005bff;
      color: white;
      transition: none;
    }
  }

}


.visual-editable-area {
  &:before {
    content: "";
    width: calc(100% - 42px);
    height: calc(100% - 6px);
    background: rgba(0, 91, 255, 0.27);
    z-index: 1;
    position: absolute;
    outline: #005bff solid 6px;
    left: 21px;
  }
}
