body {
  transition: padding-left 400ms;
}

body.live-layout-preview-mode {
  padding-left: 0 !important;

  .live-layout {
    outline: none;

    > .row {

      > .col {
        outline: none;
      }
    }

    [data-config-element-trigger] {
      display: none;
    }
  }

  &.live-layout-preview-mode-reveal-grid {
    .live-layout {

      > .row {

        > .col {
          outline: 1px dotted grey;
        }
      }
    }
  }
}
