<div class="row" data-dom-uuid="{{uuid}}">
  <div class="col-12">
    <button
        title="Preview"
        data-toggle="tooltip"
        data-placement="bottom"
        type="button"
        class="preview-layout btn btn-light btn-sm float-right"
    >
      <span class="oi oi-eye"></span>
    </button>
    <button type="button" class="pel-save-layout btn btn-primary btn-sm float-right mr-2">Save</button>
    <button type="button" class="pel-discard-layout btn btn-secondary btn-sm float-right mr-2">Discard</button>
  </div>
</div>
