<div class="live-layout-quicklinks" data-dom-uuid="{{uuid}}">
  <button type="button" data-action="exit-preview" class="btn btn-primary btn-sm float-right">Exit preview</button>

  <button
      title="Reveal grid"
      type="button"
      data-action="reveal-grid"
      class="preview-layout-with-visible-layout btn btn-light btn-sm float-right mr-2"
  >
    <span class="oi oi-layers"></span>
  </button>

</div>
