<div data-pel-inline-template="component-options" data-dom-uuid="{{uuid}}">
  <h5>Component options</h5>
  <div class="options">

    <div class="form-group">
      <label>Bottom spacing
        <input type="number" class="form-control" min="0" max="5" value="0" data-config-id="margin-bottom">
      </label>
    </div>

    <div class="form-group mb-0">
      <button
          type="button"
          class="btn btn-danger btn-block"
          data-config-id="remove-component"
      >Remove from layout
      </button>
    </div>

  </div>
</div>
